body {
  font-family: 'Nunito Sans', sans-serif;
  font-family: 'Source Sans Pro', sans-serif;
  ;
}

#logo {
  font-size: 25px;
}

.logo {
  color: black;
  font-family: 'Source Sans Pro', sans-serif;
}

.container-fluid {
  display: inline-block;
  cursor: pointer;
  margin-left: 1442px;
  margin-bottom: -9px;
}

.bar1,
.bar2,
.bar3 {
  width: 35px;
  height: 5px;
  background-color: #333;
  margin: 6px 0;
  transition: 0.4s;
}

.change .bar1 {
  -webkit-transform: rotate(-45deg) translate(-9px, 6px);
  transform: rotate(-45deg) translate(-9px, 6px);
}

.change .bar2 {
  opacity: 0;
}

.change .bar3 {
  -webkit-transform: rotate(45deg) translate(-8px, -8px);
  transform: rotate(45deg) translate(-8px, -8px);
}

.topnav {
  background-color: #ffffff;
  margin: -42px 0 0 0;
  overflow: hidden;
}

.topnav a {
  float: left;
  display: block;
  color: black;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
  border-bottom: 3px solid transparent;
}

.topnav a:hover {
 background-color:  #f2f2f2;
  color: black;
}

.topnav a.active {
  background-color: rgb(214, 214, 214);
}


.text1 {
  text-align: center;
}

.text1 a {
  text-decoration: none;
  color: blue;
  font-size: 20px
}

.column {
  float: left;
  width: 20%;
  padding: 10px;
}

/* Style the images inside the grid */
.column img {
  cursor: pointer;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

/* The expanding image container */
.container {
  position: relative;
  display: none;
}

/* Expanding image text */
#imgtext {
  position: absolute;
  bottom: 15px;
  left: 15px;
  color: white;
  font-size: 20px;
}

/* Closable button inside the expanded image */
.closebtn {
  position: absolute;
  top: 10px;
  right: 15px;
  color: white;
  font-size: 35px;
  cursor: pointer;
}
