* {
  box-sizing: border-box;
}

*:after,
*:before {
  box-sizing: border-box;
}


body {
  font-family: 'Nunito Sans', sans-serif;
  font-family: 'Source Sans Pro', sans-serif;
  ;
}

#logo {
  font-size: 25px;
}

.logo {
  color: black;
  font-family: 'Source Sans Pro', sans-serif;
}

.container-fluid {
  display: inline-block;
  cursor: pointer;
  margin-left: 1442px;
  margin-bottom: -9px;
}

.bar1,
.bar2,
.bar3 {
  width: 35px;
  height: 5px;
  background-color: #333;
  margin: 6px 0;
  transition: 0.4s;
}

.change .bar1 {
  -webkit-transform: rotate(-45deg) translate(-9px, 6px);
  transform: rotate(-45deg) translate(-9px, 6px);
}

.change .bar2 {
  opacity: 0;
}

.change .bar3 {
  -webkit-transform: rotate(45deg) translate(-8px, -8px);
  transform: rotate(45deg) translate(-8px, -8px);
}

.topnav {
  background-color: #ffffff;
  margin: -42px 0 0 0;
  overflow: hidden;
}

.topnav a {
  float: left;
  display: block;
  color: black;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
  border-bottom: 3px solid transparent;
}

.topnav a:hover {
   background-color:  #f2f2f2;
   color: black;
}

.topnav a.active {
  background-color: rgb(214, 214, 214);
}


.text h1 {
  text-align: center;
  margin-top: 35px;
}

.text a {
  text-decoration: none;
  color: blue;
  font-size: 20px;
  text-align: center;
  margin: -1px 0 0 753px;
}

.tab {
  justify-content: center;
  padding: 0;
  margin: 20px 0 0 500px;
}

.pill1 h2 {
  font-size: 35px;
  text-align: center;
  margin-top: 75px;
}


.pill1 a {
  text-decoration: none;
  text-align: center;
  padding: 0;
  margin: 0 0 0 776px;
  font-size: 20px;
}

.img-1 {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 521px;
  height: 414px;
}

.pill1 p {
  text-align: center;
}

.pill2 a {
  text-decoration: none;
  text-align: center;
  padding: 0;
  margin: 0 0 0 776px;
  font-size: 20px;
}

.pill2 h2 {
  text-align: center;
  font-size: 35px;
  margin-top: 75px;
}

.pill2 p {
  text-align: center;
}

.img-2 {
   display: block;
  margin-left: auto;
  margin-right: auto;
  width: 521px;
  height: 414px;
}

.pill3 h2 {
  text-align: center;
  font-size: 35px;
  margin-top: 75px;
}

.pill3 a {
  text-decoration: none;
  text-align: center;
  padding: 0;
  margin: 0 0 0 776px;
  font-size: 20px;
}

.pill3 p {
  text-align: center;
}

.img-3 {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 521px;
  height: 414px;
}

.pill4 h2 {
  text-align: center;
  font-size: 35px;
  margin-top: 75px;
}

.pill4 p {
  text-align: center;
}

.pill4 a {
  text-decoration: none;
  text-align: center;
  padding: 0;
  margin: 0 0 0 776px;
  font-size: 20px;
}

.img-4 {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 521px;
  height: 414px;
}


.pill5 h2 {
  text-align: center;
  font-size: 35px;
  margin-top: 75px;
}


.pill5 a {
  text-decoration: none;
  text-align: center;
  padding: 0;
  margin: 0 0 0 776px;
  font-size: 20px;
}

.pill5 p {
  text-align: center;
}

.img-5 {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 521px;
  height: 414px;
}

/*footer*/
#footer {
  background: #e9e8e6;
  padding: 30px 0;
  color: #222222;
  font-size: 14px;
  text-align: center;
}

#footer .credits {
  padding-top: 5px;
  font-size: 13px;
}
#footer .credits a {
  color: #34b7a7;
}
